/*########################################################################*\

	Developed by 		: Jerry van Heerikhuize
	Version				: 0.0.1
	Creation Date		: 22/06/13
	Creation Date		: 22/06/13
	Creation by			: Jerry van Heerikhuize
	Email				: jvanheerikhuize at gmail dot com
	Description			: CSS for the page

	---------------------------------------------------------------------

	LET OP! in webkit kan er geen spatie tussen de functie en de (), dan werkt hij niet.
	LET OP! transormaties werken in stappen, eerst roteren dan verschuiven
	LET OP! Percentages werken niew in de transform functions

\*########################################################################*/

	header {
		-webkit-box-shadow:	0px 0px 5px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:	0px 0px 5px rgba(50, 50, 50, 0.75);
		-o-box-shadow:		0px 0px 5px rgba(50, 50, 50, 0.75);		
		box-shadow:			0px 0px 5px rgba(50, 50, 50, 0.75);  
 
		font-size:			10pt;
		color:				#FFF;
		padding:			15px;
		background:			#333;
	}





/*########################################################################*\

	SLIDEMENU

\*########################################################################*/

	.slide-main {
		left: 								0px;
		color:								#FFF;
	}

	.slide-main:hover {
		left:								300px;
	}
	
	.slide-main:hover .slide-container {
		left:								0px;
	}

	.slide-main,
	.slide-container
	{
	 	position:							fixed;
		top: 80px;
	
		-webkit-transition-duration: 		0.3s;
		-moz-transition-duration: 			0.3s;
		-o-transition-duration: 			0.3s;
		transition-duration: 				0.3s;
	}


	.slide-tab,
	.slide-container
	{
		background:							#333;
		padding:							15px;

		-webkit-box-shadow: 				0px 0px 5px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    				0px 0px 5px rgba(50, 50, 50, 0.75);
		-o-box-shadow:    					0px 0px 5px rgba(50, 50, 50, 0.75);
		box-shadow:         				0px 0px 5px rgba(50, 50, 50, 0.75);

		-webkit-border-bottom-right-radius:	5px;
		-moz-border-radius-bottomright:		5px;
		-o-border-bottom-right-radius:		5px;	
		border-bottom-right-radius:			5px;		
	}

	.slide-tab {
		font-size: 							30px;
 
		-webkit-border-top-right-radius: 	5px;
		-moz-border-radius-topright: 		5px;
		-o-border-top-right-radius: 			5px;
		border-top-right-radius: 			5px;
	}

	.slide-container {
		width:								300px;
		left:								-300px;
	}

	.slide-container a {
		text-decoration: 					none;
		display:							block;
		border-top:							1px solid #484848;
		border-bottom:						1px solid #2E2E2E;
		color:								#FFF;
	  	padding:							5px 20px;
	}

	.slide-container a:hover, 
	.slide-container a:focus 
	{
		background: 						#666;
	}

	.slide-container  h3 {
		padding:							5px;
	}
