/*########################################################################*\

	Developed by 		: Jerry van Heerikhuize
	Version				: 0.0.1
	Creation Date		: 22/06/13
	Creation Date		: 22/06/13
	Creation by			: Jerry van Heerikhuize
	Email				: jvanheerikhuize at gmail dot com
	Description			: Reset

	---------------------------------------------------------------------

	LET OP! in webkit kan er geen spatie tussen de functie en de (), dan werkt hij niet.
	LET OP! transormaties werken in stappen, eerst roteren dan verschuiven
	LET OP! Percentages werken niew in de transform functions

\*########################################################################*/

	* {
		-webkit-box-sizing: 			border-box;
		-moz-box-sizing:				border-box;  
		-o-box-sizing:					border-box;  
		box-sizing: 					border-box;
	}


	html, body {
		background:						#DDD;
		font-size:						10pt;
	}

	html, body, h1, h2, h3 
	{
		font-family:					'museo100';
		margin:							0px;
		padding:						0px;
	}
