/*########################################################################*\

	Developed by 		: Jerry van Heerikhuize
	Version				: 0.0.1
	Creation Date		: 22/06/13
	Creation Date		: 22/06/13
	Creation by			: Jerry van Heerikhuize
	Email				: jvanheerikhuize at gmail dot com
	Description			: CSS for a box instance

	---------------------------------------------------------------------

	LET OP! in webkit kan er geen spatie tussen de functie en de (), dan werkt hij niet.
	LET OP! transormaties werken in stappen, eerst roteren dan verschuiven
	LET OP! Percentages werken niew in de transform functions

\*########################################################################*/

/*########################################################################*\

	BOX

\*########################################################################*/

	/* Default instance Settings */
	.box {

		-webkit-transform-style: 		preserve-3d;
		-moz-transform-style: 			preserve-3d;
		-o-transform-style: 			preserve-3d;
		transform-style:				preserve-3d;

		-webkit-transform-origin: 		center center;
		-moz-transform-origin: 			center center;
		-o-transform-origin: 			center center;
		transform-origin: 				center center;

		/* This will be a configugable parameter */		  
		-webkit-transition: 			-webkit-transform 2.5s;
		-moz-transition: 				-moz-transform 2.5s;
		-o-transition: 					-o-transform 2.5s;
		transition: 					transform 2.5s;
		
	}
	

/*########################################################################*\

	INSTANCES

\*########################################################################*/



/*------------------------------------------------------------------------*\

	CRATE
	LET OP! Dit is de camara section
	
	LET OP! verplaats de camera section niet met een transform maar de inhoud
	dit zorgt ervoor dat de animaties op de camere section vanuit het 
	midden van het midden gebeuren en niet relatief aan de maten van
	de inhoud

\*------------------------------------------------------------------------*/

	#crate .box#camera {
		
		width:							550px;
		height:							354px;
		/*depth:						365px;*/
		
	}

	/*	CAMERA	*/

	.box.front {
		-webkit-transform: 				translateZ(0) !important;
		-moz-transform: 				translateZ(0px);
		-o-transform: 					translateZ(0px);
		transform: 						translateZ(0px);
	}

	.box.back{
		-webkit-transform:				rotateY(-180deg) !important;
		-moz-transform: 				rotateY(-180deg);
		-o-transform: 					rotateY(-180deg);
		transform: 						rotateY(-180deg);
	}

	.box.left {
		-webkit-transform: 				rotateY(90deg) !important;
		-moz-transform: 				rotateY(90deg);
		-o-transform: 					rotateY(90deg);
		transform: 						rotateY(90deg);
	}

	.box.right {
		-webkit-transform: 				rotateY(-90deg) !important;
		-moz-transform:					rotateY(-90deg);
		-o-transform:					rotateY(-90deg);
		transform:						rotateY(-90deg);
	}

	.box.top {
		-webkit-transform: 				rotateX(-90deg) !important;
		-moz-transform: 				rotateX(-90deg);
		-o-transform: 					rotateX(-90deg);
		transform: 						rotateX(-90deg);
	}

	.box.bottom {
		-webkit-transform: 				rotateX(90deg) !important;
		-moz-transform:					rotateX(90deg);
		-o-transform:					rotateX(90deg);
		transform:						rotateX(90deg);
	}

	.box.angle {
		-webkit-transform: 				rotateX(-45deg) rotateY(-45deg) !important;
		-moz-transform: 				rotateX(-45deg) rotateY(-45deg);
		-o-transform: 					rotateX(-45deg) rotateY(-45deg);
		transform: 						rotateX(-45deg) rotateY(-45deg);
	}
	



/*------------------------------------------------------------------------*\

	OUTER

\*------------------------------------------------------------------------*/

	#crate .box#outer {
		
		width:							550px;
		height:							354px;
		/*depth:						365px;*/
		
		-webkit-transform: 				translateZ(182.5px);
		-moz-transform: 				translateZ(182.5px);
		-o-transform: 					translateZ(182.5px);
		transform: 						translateZ(182.5px);
	
	}




	
/*------------------------------------------------------------------------*\

	FRONT & BACK

\*------------------------------------------------------------------------*/

	#crate .box#outer .box#front,
	#crate .box#outer .box#back
	{
		width:								550px;
		height:								320px;
		/*depth:							17px;*/

	}

	/*	FRONT */
	#crate .box#outer .box#front
	{
		-webkit-transform: 					translateY(17px);
		-moz-transform: 					translateY(17px);
		-o-transform: 						translateY(17px);
		transform: 							translateY(17px);
	}
	
	/*	BACK */
	/*	Z = depth */
	#crate .box#outer .box#back
	{
		-webkit-transform: 					rotateY(-180deg) translateY(17px) translateZ(365px);
		-moz-transform: 					rotateY(-180deg) translateY(17px) translateZ(365px);
		-o-transform: 						rotateY(-180deg) translateY(17px) translateZ(365px);
		transform: 							rotateY(-180deg) translateY(17px) translateZ(365px);
	}

/*------------------------------------------------------------------------*\

	FRONT & BACK PANELS

\*------------------------------------------------------------------------*/
	

	#crate .box#outer .box#front .box#fronttop,
	#crate .box#outer .box#front .box#frontmiddle,
	#crate .box#outer .box#front .box#frontbottom,
	#crate .box#outer .box#back .box#backtop,
	#crate .box#outer .box#back .box#backmiddle,
	#crate .box#outer .box#back .box#backbottom	
	{
		width:								550px;
		height:								90px;
		/*depth:							17px;*/

	}

	/*	FRONT */
	#crate .box#outer .box#front .box#fronttop
	
	{
	}
	
	#crate .box#outer .box#front .box#frontmiddle,
	#crate .box#outer .box#back .box#backmiddle
	{
		-webkit-transform: 					translateY(115px);
		-moz-transform: 					translateY(115px);
		-o-transform: 						translateY(115px);
		transform: 							translateY(115px);
	}

	#crate .box#outer .box#front .box#frontbottom,
	#crate .box#outer .box#back .box#backbottom
	{
		-webkit-transform: 					translateY(230px);
		-moz-transform: 					translateY(230px);
		-o-transform: 						translateY(230px);
		transform: 							translateY(230px);
	}





/*------------------------------------------------------------------------*\

	LEFT & RIGHT

\*------------------------------------------------------------------------*/

	#crate .box#outer .box#left,
	#crate .box#outer .box#right
	{
		width:							331px;
		height:							320px;
		/*depth:						17px;*/
	}

	/*	LEFT */
	/* X = -(depth / 2) | Z = (depth / 2) - 17 */ 
	#crate .box#outer .box#left
	{
		-webkit-transform: 				rotateY(-90deg) translateX(-182.5px) translateY(17px) translateZ(165.5px);
		-moz-transform: 				rotateY(-90deg) translateX(-182.5px) translateY(17px) translateZ(165.5px);
		-o-transform: 					rotateY(-90deg) translateX(-182.5px) translateY(17px) translateZ(165.5px);
		transform: 						rotateY(-90deg) translateX(-182.5px) translateY(17px) translateZ(165.5px);
	}
	
	/*	RIGHT */
	/*	X = (depth / 2) | Z = (width - (depth / 2)) + 17 */ 
	#crate .box#outer .box#right
	{
		-webkit-transform: 				rotateY(90deg) translateX(182.5px) translateY(17px) translateZ(384.5px);
		-moz-transform: 				rotateY(90deg) translateX(182.5px) translateY(17px) translateZ(384.5px);
		-o-transform: 					rotateY(90deg) translateX(182.5px) translateY(17px) translateZ(384.5px);
		transform: 						rotateY(90deg) translateX(182.5px) translateY(17px) translateZ(384.5px);
	}



/*------------------------------------------------------------------------*\

	LEFT & RIGHT PANELS

\*------------------------------------------------------------------------*/
	

	#crate .box#outer .box#left .box#lefttop,
	#crate .box#outer .box#left .box#leftmiddle,
	#crate .box#outer .box#left .box#leftbottom,
	#crate .box#outer .box#right .box#righttop,
	#crate .box#outer .box#right .box#rightmiddle,
	#crate .box#outer .box#right .box#rightbottom	
	{
		width:								331px;
		height:								90px;
		/*depth:							17px;*/

	}

	/*	FRONT */
	#crate .box#outer .box#left .box#lefttop
	
	{
	}
	
	#crate .box#outer .box#left .box#leftmiddle,
	#crate .box#outer .box#right .box#rightmiddle
	{
		-webkit-transform: 					translateY(115px);
		-moz-transform: 					translateY(115px);
		-o-transform: 						translateY(115px);
		transform: 							translateY(115px);
	}

	#crate .box#outer .box#left .box#leftbottom,
	#crate .box#outer .box#right .box#rightbottom
	{
		-webkit-transform: 					translateY(230px);
		-moz-transform: 					translateY(230px);
		-o-transform: 						translateY(230px);
		transform: 							translateY(230px);
	}






/*------------------------------------------------------------------------*\

	TOP & BOTTOM

\*------------------------------------------------------------------------*/

	#crate .box#outer .box#top,
	#crate .box#outer .box#bottom
	{
		width:							365px;
		height:							550px;
		/*depth:						17;*/
	}

	/*	TOP */
	/*	Y = -(depth / 2) | Z = (depth / 2)*/ 
	#crate .box#outer .box#top
	{
		-webkit-transform: 				rotateX(90deg) translateY(-182.5px) translateZ(182.5px);
		-moz-transform: 				rotateX(90deg) translateY(-182.5px) translateZ(182.5px);
		-o-transform: 					rotateX(90deg) translateY(-182.5px) translateZ(182.5px);
		transform: 						rotateX(90deg) translateY(-182.5px) translateZ(182.5px);
	
	}
	
	/*	BOTTOM */
	/*	Y = -(depth / 2) | Z = ?????? */ 
	#crate .box#outer .box#bottom
	{
		-webkit-transform: 				rotateX(90deg) rotateZ(-90deg) translateX(182.5px) translateY(92.5px) translateZ(-61.5px);
		-moz-transform: 				rotateX(90deg) rotateZ(-90deg) translateX(182.5px) translateY(92.5px) translateZ(-61.5px);
		-o-transform: 					rotateX(90deg) rotateZ(-90deg) translateX(182.5px) translateY(92.5px) translateZ(-61.5px);
		transform: 						rotateX(90deg) rotateZ(-90deg) translateX(182.5px) translateY(92.5px) translateZ(-61.5px);
	}


	#crate .box#outer .box#bottom .box#bottom1,
	#crate .box#outer .box#bottom .box#bottom2,
	#crate .box#outer .box#bottom .box#bottom3,
	#crate .box#outer .box#bottom .box#bottom4,
	#crate .box#outer .box#bottom .box#bottom5
	{
		width:								365px;
		height:								90px;
		/*depth:							17px;*/

	}

	/*	FRONT */
	#crate .box#outer .box#bottom .box#bottom1
	{
	}
	
	#crate .box#outer .box#bottom .box#bottom2
	{
		-webkit-transform: 					translateY(115px);
		-moz-transform: 					translateY(115px);
		-o-transform: 						translateY(115px);
		transform: 							translateY(115px);
	}

	#crate .box#outer .box#bottom .box#bottom3
	{
		-webkit-transform: 					translateY(230px);
		-moz-transform: 					translateY(230px);
		-o-transform: 						translateY(230px);
		transform: 							translateY(230px);
	}

	#crate .box#outer .box#bottom .box#bottom4
	{
		-webkit-transform: 					translateY(345px);
		-moz-transform: 					translateY(345px);
		-o-transform: 						translateY(345px);
		transform: 							translateY(345px);
	}

	#crate .box#outer .box#bottom .box#bottom5
	{
		-webkit-transform: 					translateY(460px);
		-moz-transform: 					translateY(460px);
		-o-transform: 						translateY(460px);
		transform: 							translateY(460px);
	}





/*------------------------------------------------------------------------*\

	INNER

\*------------------------------------------------------------------------*/

	#crate .box#inner {
		
		width:							516px;
		height:							320px;
		/*depth:						331px;*/
		
		-webkit-transition: 			-webkit-transform 1s;
		-moz-transition: 				-moz-transform 1s;
		-o-transition: 					-o-transform 1s;
		transition: 					transform 1s;
		
		-webkit-transform: 				translateX(17px) translateY(17px) translateZ(-17px);
		-moz-transform: 				translateX(17px) translateY(17px) translateZ(-17px);
		-o-transform: 					translateX(17px) translateY(17px) translateZ(-17px);
		transform: 						translateX(17px) translateY(17px) translateZ(-17px);
	}

	#crate .box#inner .box#frontleft,
	#crate .box#inner .box#frontright,
	#crate .box#inner .box#backleft,
	#crate .box#inner .box#backright
	{
		width:							17px;
		height:							320px;
		/*depth:						17px;*/	
	}

	#crate .box#inner .box#frontright
	{
		-webkit-transform: 				translateX(499px);
		-moz-transform: 				translateX(499px);
		-o-transform: 					translateX(499px);
		transform: 						translateX(499px);
	}
	
	#crate .box#inner .box#backleft
	{
		-webkit-transform: 				rotateY(-180deg) translateZ(331px);
		-moz-transform: 				rotateY(-180deg) translateZ(331px);
		-o-transform: 					rotateY(-180deg) translateZ(331px);
		transform: 						rotateY(-180deg) translateZ(331px);
	}
	
	#crate .box#inner .box#backright {
		-webkit-transform: 				rotateY(-180deg) translateZ(331px) translateX(-499px);
		-moz-transform: 				rotateY(-180deg) translateZ(331px) translateX(-499px);
		-o-transform: 					rotateY(-180deg) translateZ(331px) translateX(-499px);
		transform: 						rotateY(-180deg) translateZ(331px) translateX(-499px);
	}





