/*########################################################################*\

	Developed by 		: Jerry van Heerikhuize
	Version				: 0.0.1
	Creation Date		: 22/06/13
	Creation Date		: 22/06/13
	Creation by			: Jerry van Heerikhuize
	Email				: jvanheerikhuize at gmail dot com
	Description			: CSS for a box instance

	---------------------------------------------------------------------

	LET OP! in webkit kan er geen spatie tussen de functie en de (), dan werkt hij niet.
	LET OP! transormaties werken in stappen, eerst roteren dan verschuiven
	LET OP! Percentages werken niew in de transform functions

\*########################################################################*/

/*########################################################################*\

	FACES

\*########################################################################*/

	/* Default instance Settings */
	.viewport * .face {
		border: 							none;
		background: 						none;

		-webkit-backface-visibility:		visible;
		-moz-backface-visibility: 			visible;
		-o-backface-visibility: 			visible;
		backface-visibility: 				visible;
		
		-webkit-transform-origin: 			top left;
		-moz-transform-origin: 				top left;
		-o-transform-origin: 				top left;
		transform-origin: 					top left;

	}




	
/*########################################################################*\

	INSTANCES

\*########################################################################*/

/*########################################################################*\

	BOX OUTER
	
	width:							550px;
	height:							354px;
	depth:							365px;

\*########################################################################*/

	#crate .box#outer > .face.front,
	#crate .box#outer > .face.back
	{
		width:							100%;
		height:							100%;
	}

	#crate .box#outer > .face.left,
	#crate .box#outer > .face.right
	{
		width:							365px;
		height:							100%;
	}

	#crate .box#outer > .face.top,
	#crate .box#outer > .face.bottom
	{
		width:							100%;
		height:							365px;
	}




	/* 3D TRANSFORMATIONS */

	#crate .box#outer > .face.front
	{}

	/* Z = depth | X = -width */
	#crate .box#outer > .face.back
	{
		-webkit-transform:				rotateY(-180deg) translateZ(365px) translateX(-550px);
		-moz-transform:					rotateY(-180deg) translateZ(365px) translateX(-550px);
		-o-transform:					rotateY(-180deg) translateZ(365px) translateX(-550px);
		transform:						rotateY(-180deg) translateZ(365px) translateX(-550px);
	}

	/* X = -depth */
	#crate .box#outer > .face.left
	{
		-webkit-transform: 				rotateY(-90deg) translateX(-365px);
		-moz-transform: 				rotateY(-90deg) translateX(-365px);
		-o-transform: 					rotateY(-90deg) translateX(-365px);
		transform: 						rotateY(-90deg) translateX(-365px);
	}

	/* Z = width */
	#crate .box#outer > .face.right
	{
		-webkit-transform: 				rotateY(90deg) translateZ(550px);
		-moz-transform: 				rotateY(90deg) translateZ(550px);
		-o-transform: 					rotateY(90deg) translateZ(550px);
		transform: 						rotateY(90deg) translateZ(550px);
	}

	/* Y = -depth */
	#crate .box#outer > .face.top
	{
		-webkit-transform: 				rotateX(90deg) translateY(-365px);
		-moz-transform: 				rotateX(90deg) translateY(-365px);
		-o-transform: 					rotateX(90deg) translateY(-365px);
		transform: 						rotateX(90deg) translateY(-365px);
	}

	/* Z = height */
	#crate .box#outer > .face.bottom
	{
		-webkit-transform: 				rotateX(-90deg) translateZ(354px);
		-moz-transform: 				rotateX(-90deg) translateZ(354px);
		-o-transform: 					rotateX(-90deg) translateZ(354px);
		transform: 						rotateX(-90deg) translateZ(354px);
	}




/*------------------------------------------------------------------------*\

	FRONT, BACK
	
	width:							550px;
	height:							320px;
	depth:							17px;

\*------------------------------------------------------------------------*/

	#crate .box#outer .box#front > .face.front,
	#crate .box#outer .box#front > .face.back,
	#crate .box#outer .box#back > .face.front,
	#crate .box#outer .box#back > .face.back
	{
		width:							100%;
		height:							100%;
	}

	#crate .box#outer .box#front > .face.left,
	#crate .box#outer .box#front > .face.right,
	#crate .box#outer .box#back > .face.left,
	#crate .box#outer .box#back > .face.right
	{
		width:							17px;
		height:							100%;
	}

	#crate .box#outer .box#front > .face.top,
	#crate .box#outer .box#front > .face.bottom,
	#crate .box#outer .box#back > .face.top,
	#crate .box#outer .box#back > .face.bottom
	{
		width:							100%;
		height:							17px;
	}


	/* 3D TRANSFORMATIONS */


	#crate .box#outer .box#front > .face.front,
	#crate .box#outer .box#back > .face.front
	{}

	/* Z = depth | X = -width */
	#crate .box#outer .box#front > .face.back,
	#crate .box#outer .box#back > .face.back
	{
		-webkit-transform:				rotateY(-180deg) translateZ(17px) translateX(-550px);
		-moz-transform:					rotateY(-180deg) translateZ(17px) translateX(-550px);
		-o-transform:					rotateY(-180deg) translateZ(17px) translateX(-550px);
		transform:						rotateY(-180deg) translateZ(17px) translateX(-550px);
	}

	/* X = -depth */
	#crate .box#outer .box#front > .face.left,
	#crate .box#outer .box#back > .face.left
	{
		-webkit-transform: 				rotateY(-90deg) translateX(-17px);
		-moz-transform: 				rotateY(-90deg) translateX(-17px);
		-o-transform: 					rotateY(-90deg) translateX(-17px);
		transform: 						rotateY(-90deg) translateX(-17px);
	}

	/* Z = width */
	#crate .box#outer .box#front > .face.right,
	#crate .box#outer .box#back > .face.right
	{
		-webkit-transform: 				rotateY(90deg) translateZ(550px);
		-moz-transform: 				rotateY(90deg) translateZ(550px);
		-o-transform: 					rotateY(90deg) translateZ(550px);
		transform: 						rotateY(90deg) translateZ(550px);
	}

	/* Y = -depth */
	#crate .box#outer .box#front > .face.top,
	#crate .box#outer .box#back > .face.top
	{
		-webkit-transform: 				rotateX(90deg) translateY(-17px);
		-moz-transform: 				rotateX(90deg) translateY(-17px);
		-o-transform: 					rotateX(90deg) translateY(-17px);
		transform: 						rotateX(90deg) translateY(-17px);
	}

	/* Z = height */
	#crate .box#outer .box#front > .face.bottom,
	#crate .box#outer .box#back > .face.bottom
	{
		-webkit-transform: 				rotateX(-90deg) translateZ(320px);
		-moz-transform: 				rotateX(-90deg) translateZ(320px);
		-o-transform: 					rotateX(-90deg) translateZ(320px);
		transform: 						rotateX(-90deg) translateZ(320px);
	}



	#crate .box#outer .box#front .box#fronttop > .face.front,
	#crate .box#outer .box#front .box#fronttop > .face.back,
	#crate .box#outer .box#front .box#frontmiddle > .face.front,
	#crate .box#outer .box#front .box#frontmiddle > .face.back,
	#crate .box#outer .box#front .box#frontbottom > .face.front,
	#crate .box#outer .box#front .box#frontbottom > .face.back,
	#crate .box#outer .box#back .box#backtop > .face.front,
	#crate .box#outer .box#back .box#backtop > .face.back,
	#crate .box#outer .box#back .box#backmiddle > .face.front,
	#crate .box#outer .box#back .box#backmiddle > .face.back,
	#crate .box#outer .box#back .box#backbottom > .face.front,
	#crate .box#outer .box#back .box#backbottom > .face.back

	{
		width:							100%;
		height:							100%;
	}

	#crate .box#outer .box#front .box#fronttop > .face.left,
	#crate .box#outer .box#front .box#fronttop > .face.right,
	#crate .box#outer .box#front .box#frontmiddle > .face.left,
	#crate .box#outer .box#front .box#frontmiddle > .face.right,
	#crate .box#outer .box#front .box#frontbottom > .face.left,
	#crate .box#outer .box#front .box#frontbottom > .face.right,
	#crate .box#outer .box#back .box#backtop > .face.left,
	#crate .box#outer .box#back .box#backtop > .face.right,
	#crate .box#outer .box#back .box#backmiddle > .face.left,
	#crate .box#outer .box#back .box#backmiddle > .face.right,
	#crate .box#outer .box#back .box#backbottom > .face.left,
	#crate .box#outer .box#back .box#backbottom > .face.right

	{
		width:							17px;
		height:							100%;
	}

	#crate .box#outer .box#front .box#fronttop > .face.top,
	#crate .box#outer .box#front .box#fronttop > .face.bottom,
	#crate .box#outer .box#front .box#frontmiddle > .face.top,
	#crate .box#outer .box#front .box#frontmiddle > .face.bottom,
	#crate .box#outer .box#front .box#frontbottom > .face.top,
	#crate .box#outer .box#front .box#frontbottom > .face.bottom,
	#crate .box#outer .box#back .box#backtop > .face.top,
	#crate .box#outer .box#back .box#backtop > .face.bottom,
	#crate .box#outer .box#back .box#backmiddle > .face.top,
	#crate .box#outer .box#back .box#backmiddle > .face.bottom,
	#crate .box#outer .box#back .box#backbottom > .face.top,
	#crate .box#outer .box#back .box#backbottom > .face.bottom
	{
		width:							100%;
		height:							17px;
	}


	/* 3D TRANSFORMATIONS */


	#crate .box#outer .box#front .box#fronttop > .face.front,
	#crate .box#outer .box#front .box#frontmiddle > .face.front,
	#crate .box#outer .box#front .box#frontbottom > .face.front,
	#crate .box#outer .box#back .box#backtop > .face.front,
	#crate .box#outer .box#back .box#backmiddle > .face.front,
	#crate .box#outer .box#back .box#backbottom > .face.front
	{}

	/* Z = depth | X = -width */
	#crate .box#outer .box#front .box#fronttop > .face.back,
	#crate .box#outer .box#front .box#frontmiddle > .face.back,
	#crate .box#outer .box#front .box#frontbottom > .face.back,
	#crate .box#outer .box#back .box#backtop > .face.back,
	#crate .box#outer .box#back .box#backmiddle > .face.back,
	#crate .box#outer .box#back .box#backbottom > .face.back
	{
		-webkit-transform:				rotateY(-180deg) translateZ(17px) translateX(-550px);
		-moz-transform:					rotateY(-180deg) translateZ(17px) translateX(-550px);
		-o-transform:					rotateY(-180deg) translateZ(17px) translateX(-550px);
		transform:						rotateY(-180deg) translateZ(17px) translateX(-550px);
	}

	/* X = -depth */
	#crate .box#outer .box#front .box#fronttop > .face.left,
	#crate .box#outer .box#front .box#frontmiddle > .face.left,
	#crate .box#outer .box#front .box#frontbottom > .face.left,
	#crate .box#outer .box#back .box#backtop > .face.left,
	#crate .box#outer .box#back .box#backmiddle > .face.left,
	#crate .box#outer .box#back .box#backbottom > .face.left
	{
		-webkit-transform: 				rotateY(-90deg) translateX(-17px);
		-moz-transform: 				rotateY(-90deg) translateX(-17px);
		-o-transform: 					rotateY(-90deg) translateX(-17px);
		transform: 						rotateY(-90deg) translateX(-17px);
	}

	/* Z = width */
	#crate .box#outer .box#front .box#fronttop > .face.right,
	#crate .box#outer .box#front .box#frontmiddle > .face.right,
	#crate .box#outer .box#front .box#frontbottom > .face.right,
	#crate .box#outer .box#back .box#backtop > .face.right,
	#crate .box#outer .box#back .box#backmiddle > .face.right,
	#crate .box#outer .box#back .box#backbottom > .face.right
	{
		-webkit-transform: 				rotateY(90deg) translateZ(550px);
		-moz-transform: 				rotateY(90deg) translateZ(550px);
		-o-transform: 					rotateY(90deg) translateZ(550px);
		transform: 						rotateY(90deg) translateZ(550px);
	}

	/* Y = -depth */
	#crate .box#outer .box#front .box#fronttop > .face.top,
	#crate .box#outer .box#front .box#frontmiddle > .face.top,
	#crate .box#outer .box#front .box#frontbottom > .face.top,
	#crate .box#outer .box#back .box#backtop > .face.top,
	#crate .box#outer .box#back .box#backmiddle > .face.top,
	#crate .box#outer .box#back .box#backbottom > .face.top

	{
		-webkit-transform: 				rotateX(90deg) translateY(-17px);
		-moz-transform: 				rotateX(90deg) translateY(-17px);
		-o-transform: 					rotateX(90deg) translateY(-17px);
		transform: 						rotateX(90deg) translateY(-17px);
	}

	/* Z = height */
	#crate .box#outer .box#front .box#fronttop > .face.bottom,
	#crate .box#outer .box#front .box#frontmiddle > .face.bottom,
	#crate .box#outer .box#front .box#frontbottom > .face.bottom,
	#crate .box#outer .box#back .box#backtop > .face.bottom,
	#crate .box#outer .box#back .box#backmiddle > .face.bottom,
	#crate .box#outer .box#back .box#backbottom > .face.bottom
	{
		-webkit-transform: 				rotateX(-90deg) translateZ(90px);
		-moz-transform: 				rotateX(-90deg) translateZ(90px);
		-o-transform: 					rotateX(-90deg) translateZ(90px);
		transform: 						rotateX(-90deg) translateZ(90px);
	}


	
/*------------------------------------------------------------------------*\

	LEFT, RIGHT
	
	width:							331px;
	height:							320px;
	depth:							17px;

\*------------------------------------------------------------------------*/

	#crate .box#outer .box#left > .face.front,
	#crate .box#outer .box#left > .face.back,
	#crate .box#outer .box#right > .face.front,
	#crate .box#outer .box#right > .face.back
	{
		width:							100%;
		height:							100%;
	}

	#crate .box#outer .box#left > .face.left,
	#crate .box#outer .box#left > .face.right,
	#crate .box#outer .box#right > .face.left,
	#crate .box#outer .box#right > .face.right
	{
		width:							17px;
		height:							100%;
	}

	#crate .box#outer .box#left > .face.top,
	#crate .box#outer .box#left > .face.bottom,
	#crate .box#outer .box#right > .face.top,
	#crate .box#outer .box#right > .face.bottom
	{
		width:							100%;
		height:							17px;
	}


	/* 3D TRANSFORMATIONS */


	#crate .box#outer .box#left > .face.front,
	#crate .box#outer .box#right > .face.front
	{}

	/* Z = depth | X = -width */
	#crate .box#outer .box#left > .face.back,
	#crate .box#outer .box#right > .face.back
	{
		-webkit-transform:				rotateY(-180deg) translateZ(17px) translateX(-331px);
		-moz-transform:					rotateY(-180deg) translateZ(17px) translateX(-331px);
		-o-transform:					rotateY(-180deg) translateZ(17px) translateX(-331px);
		transform:						rotateY(-180deg) translateZ(17px) translateX(-331px);
	}

	/* X = -depth */
	#crate .box#outer .box#left > .face.left,
	#crate .box#outer .box#right > .face.left
	{
		-webkit-transform: 				rotateY(-90deg) translateX(-17px);
		-moz-transform: 				rotateY(-90deg) translateX(-17px);
		-o-transform: 					rotateY(-90deg) translateX(-17px);
		transform: 						rotateY(-90deg) translateX(-17px);
	}

	/* Z = width */
	#crate .box#outer .box#left > .face.right,
	#crate .box#outer .box#right > .face.right
	{
		-webkit-transform: 				rotateY(90deg) translateZ(331px);
		-moz-transform: 				rotateY(90deg) translateZ(331px);
		-o-transform: 					rotateY(90deg) translateZ(331px);
		transform: 						rotateY(90deg) translateZ(331px);
	}

	/* Y = -depth */
	#crate .box#outer .box#left > .face.top,
	#crate .box#outer .box#right > .face.top
	{
		-webkit-transform: 				rotateX(90deg) translateY(-17px);
		-moz-transform: 				rotateX(90deg) translateY(-17px);
		-o-transform: 					rotateX(90deg) translateY(-17px);
		transform: 						rotateX(90deg) translateY(-17px);
	}

	/* Z = height */
	#crate .box#outer .box#left > .face.bottom,
	#crate .box#outer .box#right > .face.bottom
	{
		-webkit-transform: 				rotateX(-90deg) translateZ(320px);
		-moz-transform: 				rotateX(-90deg) translateZ(320px);
		-o-transform: 					rotateX(-90deg) translateZ(320px);
		transform: 						rotateX(-90deg) translateZ(320px);
	}






	#crate .box#outer .box#left .box#lefttop > .face.front,
	#crate .box#outer .box#left .box#lefttop > .face.back,
	#crate .box#outer .box#left .box#leftmiddle > .face.front,
	#crate .box#outer .box#left .box#leftmiddle > .face.back,
	#crate .box#outer .box#left .box#leftbottom > .face.front,
	#crate .box#outer .box#left .box#leftbottom > .face.back,
	#crate .box#outer .box#right .box#righttop > .face.front,
	#crate .box#outer .box#right .box#righttop > .face.back,
	#crate .box#outer .box#right .box#rightmiddle > .face.front,
	#crate .box#outer .box#right .box#rightmiddle > .face.back,
	#crate .box#outer .box#right .box#rightbottom > .face.front,
	#crate .box#outer .box#right .box#rightbottom > .face.back

	{
		width:							100%;
		height:							100%;
	}

	#crate .box#outer .box#left .box#lefttop > .face.left,
	#crate .box#outer .box#left .box#lefttop > .face.right,
	#crate .box#outer .box#left .box#leftmiddle > .face.left,
	#crate .box#outer .box#left .box#leftmiddle > .face.right,
	#crate .box#outer .box#left .box#leftbottom > .face.left,
	#crate .box#outer .box#left .box#leftbottom > .face.right,
	#crate .box#outer .box#right .box#righttop > .face.left,
	#crate .box#outer .box#right .box#righttop > .face.right,
	#crate .box#outer .box#right .box#rightmiddle > .face.left,
	#crate .box#outer .box#right .box#rightmiddle > .face.right,
	#crate .box#outer .box#right .box#rightbottom > .face.left,
	#crate .box#outer .box#right .box#rightbottom > .face.right

	{
		width:							17px;
		height:							100%;
	}

	#crate .box#outer .box#left .box#lefttop > .face.top,
	#crate .box#outer .box#left .box#lefttop > .face.bottom,
	#crate .box#outer .box#left .box#leftmiddle > .face.top,
	#crate .box#outer .box#left .box#leftmiddle > .face.bottom,
	#crate .box#outer .box#left .box#leftbottom > .face.top,
	#crate .box#outer .box#left .box#leftbottom > .face.bottom,
	#crate .box#outer .box#right .box#righttop > .face.top,
	#crate .box#outer .box#right .box#righttop > .face.bottom,
	#crate .box#outer .box#right .box#rightmiddle > .face.top,
	#crate .box#outer .box#right .box#rightmiddle > .face.bottom,
	#crate .box#outer .box#right .box#rightbottom > .face.top,
	#crate .box#outer .box#right .box#rightbottom > .face.bottom
	{
		width:							100%;
		height:							17px;
	}


	/* 3D TRANSFORMATIONS */


	#crate .box#outer .box#left .box#lefttop > .face.front,
	#crate .box#outer .box#left .box#leftmiddle > .face.front,
	#crate .box#outer .box#left .box#leftbottom > .face.front,
	#crate .box#outer .box#right .box#righttop > .face.front,
	#crate .box#outer .box#right .box#rightmiddle > .face.front,
	#crate .box#outer .box#right .box#rightbottom > .face.front
	{}

	/* Z = depth | X = -width */
	#crate .box#outer .box#left .box#lefttop > .face.back,
	#crate .box#outer .box#left .box#leftmiddle > .face.back,
	#crate .box#outer .box#left .box#leftbottom > .face.back,
	#crate .box#outer .box#right .box#righttop > .face.back,
	#crate .box#outer .box#right .box#rightmiddle > .face.back,
	#crate .box#outer .box#right .box#rightbottom > .face.back
	{
		-webkit-transform:				rotateY(-180deg) translateZ(17px) translateX(-331px);
		-moz-transform:					rotateY(-180deg) translateZ(17px) translateX(-331px);
		-o-transform:					rotateY(-180deg) translateZ(17px) translateX(-331px);
		transform:						rotateY(-180deg) translateZ(17px) translateX(-331px);
	}

	/* X = -depth */
	#crate .box#outer .box#left .box#lefttop > .face.left,
	#crate .box#outer .box#left .box#leftmiddle > .face.left,
	#crate .box#outer .box#left .box#leftbottom > .face.left,
	#crate .box#outer .box#right .box#righttop > .face.left,
	#crate .box#outer .box#right .box#rightmiddle > .face.left,
	#crate .box#outer .box#right .box#rightbottom > .face.left
	{
		-webkit-transform: 				rotateY(-90deg) translateX(-17px);
		-moz-transform: 				rotateY(-90deg) translateX(-17px);
		-o-transform: 					rotateY(-90deg) translateX(-17px);
		transform: 						rotateY(-90deg) translateX(-17px);
	}

	/* Z = width */
	#crate .box#outer .box#left .box#lefttop > .face.right,
	#crate .box#outer .box#left .box#leftmiddle > .face.right,
	#crate .box#outer .box#left .box#leftbottom > .face.right,
	#crate .box#outer .box#right .box#righttop > .face.right,
	#crate .box#outer .box#right .box#rightmiddle > .face.right,
	#crate .box#outer .box#right .box#rightbottom > .face.right
	{
		-webkit-transform: 				rotateY(90deg) translateZ(331px);
		-moz-transform: 				rotateY(90deg) translateZ(331px);
		-o-transform: 					rotateY(90deg) translateZ(331px);
		transform: 						rotateY(90deg) translateZ(331px);
	}

	/* Y = -depth */
	#crate .box#outer .box#left .box#lefttop > .face.top,
	#crate .box#outer .box#left .box#leftmiddle > .face.top,
	#crate .box#outer .box#left .box#leftbottom > .face.top,
	#crate .box#outer .box#right .box#righttop > .face.top,
	#crate .box#outer .box#right .box#rightmiddle > .face.top,
	#crate .box#outer .box#right .box#rightbottom > .face.top

	{
		-webkit-transform: 				rotateX(90deg) translateY(-17px);
		-moz-transform: 				rotateX(90deg) translateY(-17px);
		-o-transform: 					rotateX(90deg) translateY(-17px);
		transform: 						rotateX(90deg) translateY(-17px);
	}

	/* Z = height */
	#crate .box#outer .box#left .box#lefttop > .face.bottom,
	#crate .box#outer .box#left .box#leftmiddle > .face.bottom,
	#crate .box#outer .box#left .box#leftbottom > .face.bottom,
	#crate .box#outer .box#right .box#righttop > .face.bottom,
	#crate .box#outer .box#right .box#rightmiddle > .face.bottom,
	#crate .box#outer .box#right .box#rightbottom > .face.bottom
	{
		-webkit-transform: 				rotateX(-90deg) translateZ(90px);
		-moz-transform: 				rotateX(-90deg) translateZ(90px);
		-o-transform: 					rotateX(-90deg) translateZ(90px);
		transform: 						rotateX(-90deg) translateZ(90px);
	}
























/*------------------------------------------------------------------------*\

	TOP, BOTTOM
	
		width:							365px;
		height:							550px;
		depth:							17;

\*------------------------------------------------------------------------*/

	#crate .box#outer .box#top > .face.front,
	#crate .box#outer .box#top > .face.back,
	#crate .box#outer .box#bottom > .face.front,
	#crate .box#outer .box#bottom > .face.back
	{
		width:							100%;
		height:							100%;
	}

	#crate .box#outer .box#top > .face.left,
	#crate .box#outer .box#top > .face.right,
	#crate .box#outer .box#bottom > .face.left,
	#crate .box#outer .box#bottom > .face.right
	{
		width:							17px;
		height:							100%;
	}

	#crate .box#outer .box#top > .face.top,
	#crate .box#outer .box#top > .face.bottom,
	#crate .box#outer .box#bottom > .face.top,
	#crate .box#outer .box#bottom > .face.bottom
	{
		width:							100%;
		height:							17px;
	}


	/* 3D TRANSFORMATIONS */


	#crate .box#outer .box#top > .face.front,
	#crate .box#outer .box#bottom > .face.front
	{}

	/* Z = depth | X = -width */
	#crate .box#outer .box#top > .face.back,
	#crate .box#outer .box#bottom > .face.back
	{
		-webkit-transform:				rotateY(-180deg) translateZ(17px) translateX(-365px);
		-moz-transform:					rotateY(-180deg) translateZ(17px) translateX(-365px);
		-o-transform:					rotateY(-180deg) translateZ(17px) translateX(-365px);
		transform:						rotateY(-180deg) translateZ(17px) translateX(-365px);
	}

	/* X = -depth */
	#crate .box#outer .box#top > .face.left,
	#crate .box#outer .box#bottom > .face.left
	{
		-webkit-transform: 				rotateY(-90deg) translateX(-17px);
		-moz-transform: 				rotateY(-90deg) translateX(-17px);
		-o-transform: 					rotateY(-90deg) translateX(-17px);
		transform: 						rotateY(-90deg) translateX(-17px);
	}

	/* Z = width */
	#crate .box#outer .box#top > .face.right,
	#crate .box#outer .box#bottom > .face.right
	{
		-webkit-transform: 				rotateY(90deg) translateZ(365px);
		-moz-transform: 				rotateY(90deg) translateZ(365px);
		-o-transform: 					rotateY(90deg) translateZ(365px);
		transform: 						rotateY(90deg) translateZ(365px);
	}

	/* Y = -depth */
	#crate .box#outer .box#top > .face.top,
	#crate .box#outer .box#bottom > .face.top
	{
		-webkit-transform: 				rotateX(90deg) translateY(-17px);
		-moz-transform: 				rotateX(90deg) translateY(-17px);
		-o-transform: 					rotateX(90deg) translateY(-17px);
		transform: 						rotateX(90deg) translateY(-17px);
	}

	/* Z = height */
	#crate .box#outer .box#top > .face.bottom,
	#crate .box#outer .box#bottom > .face.bottom
	{
		-webkit-transform: 				rotateX(-90deg) translateZ(550px);
		-moz-transform: 				rotateX(-90deg) translateZ(550px);
		-o-transform: 					rotateX(-90deg) translateZ(550px);
		transform: 						rotateX(-90deg) translateZ(550px);
	}	
	
	









	#crate .box#outer .box#bottom .box#bottom1 > .face.front,
	#crate .box#outer .box#bottom .box#bottom1 > .face.back,
	#crate .box#outer .box#bottom .box#bottom2 > .face.front,
	#crate .box#outer .box#bottom .box#bottom2 > .face.back,
	#crate .box#outer .box#bottom .box#bottom3 > .face.front,
	#crate .box#outer .box#bottom .box#bottom3 > .face.back,
	#crate .box#outer .box#bottom .box#bottom4 > .face.front,
	#crate .box#outer .box#bottom .box#bottom4 > .face.back,
	#crate .box#outer .box#bottom .box#bottom5 > .face.front,
	#crate .box#outer .box#bottom .box#bottom5 > .face.back
	{
		width:							100%;
		height:							100%;
	}

	#crate .box#outer .box#bottom .box#bottom1 > .face.left,
	#crate .box#outer .box#bottom .box#bottom1 > .face.right,
	#crate .box#outer .box#bottom .box#bottom2 > .face.left,
	#crate .box#outer .box#bottom .box#bottom2 > .face.right,
	#crate .box#outer .box#bottom .box#bottom3 > .face.left,
	#crate .box#outer .box#bottom .box#bottom3 > .face.right,
	#crate .box#outer .box#bottom .box#bottom4 > .face.left,
	#crate .box#outer .box#bottom .box#bottom4 > .face.right,
	#crate .box#outer .box#bottom .box#bottom5 > .face.left,
	#crate .box#outer .box#bottom .box#bottom5 > .face.right
	{
		width:							17px;
		height:							100%;
	}

	#crate .box#outer .box#bottom .box#bottom1 > .face.top,
	#crate .box#outer .box#bottom .box#bottom1 > .face.bottom,
	#crate .box#outer .box#bottom .box#bottom2 > .face.top,
	#crate .box#outer .box#bottom .box#bottom2 > .face.bottom,
	#crate .box#outer .box#bottom .box#bottom3 > .face.top,
	#crate .box#outer .box#bottom .box#bottom3 > .face.bottom,
	#crate .box#outer .box#bottom .box#bottom4 > .face.top,
	#crate .box#outer .box#bottom .box#bottom4 > .face.bottom,
	#crate .box#outer .box#bottom .box#bottom5 > .face.top,
	#crate .box#outer .box#bottom .box#bottom5 > .face.bottom
	{
		width:							100%;
		height:							17px;
	}


	/* 3D TRANSFORMATIONS */


	#crate .box#outer .box#bottom .box#bottom1 > .face.front,
	#crate .box#outer .box#bottom .box#bottom2 > .face.front,
	#crate .box#outer .box#bottom .box#bottom3 > .face.front,
	#crate .box#outer .box#bottom .box#bottom4 > .face.front,
	#crate .box#outer .box#bottom .box#bottom5 > .face.front
	{}

	/* Z = depth | X = -width */
	#crate .box#outer .box#bottom .box#bottom1 > .face.back,
	#crate .box#outer .box#bottom .box#bottom2 > .face.back,
	#crate .box#outer .box#bottom .box#bottom3 > .face.back,
	#crate .box#outer .box#bottom .box#bottom4 > .face.back,
	#crate .box#outer .box#bottom .box#bottom5 > .face.back
	{
		-webkit-transform:				rotateY(-180deg) translateZ(17px) translateX(-365px);
		-moz-transform:					rotateY(-180deg) translateZ(17px) translateX(-365px);
		-o-transform:					rotateY(-180deg) translateZ(17px) translateX(-365px);
		transform:						rotateY(-180deg) translateZ(17px) translateX(-365px);
	}

	/* X = -depth */
	#crate .box#outer .box#bottom .box#bottom1 > .face.left,
	#crate .box#outer .box#bottom .box#bottom2 > .face.left,
	#crate .box#outer .box#bottom .box#bottom3 > .face.left,
	#crate .box#outer .box#bottom .box#bottom4 > .face.left,
	#crate .box#outer .box#bottom .box#bottom5 > .face.left
	{
		-webkit-transform: 				rotateY(-90deg) translateX(-17px);
		-moz-transform: 				rotateY(-90deg) translateX(-17px);
		-o-transform: 					rotateY(-90deg) translateX(-17px);
		transform: 						rotateY(-90deg) translateX(-17px);
	}

	/* Z = width */
	#crate .box#outer .box#bottom .box#bottom1 > .face.right,
	#crate .box#outer .box#bottom .box#bottom2 > .face.right,
	#crate .box#outer .box#bottom .box#bottom3 > .face.right,
	#crate .box#outer .box#bottom .box#bottom4 > .face.right,
	#crate .box#outer .box#bottom .box#bottom5 > .face.right
	{
		-webkit-transform: 				rotateY(90deg) translateZ(365px);
		-moz-transform: 				rotateY(90deg) translateZ(365px);
		-o-transform: 					rotateY(90deg) translateZ(365px);
		transform: 						rotateY(90deg) translateZ(365px);
	}

	/* Y = -depth */
	#crate .box#outer .box#bottom .box#bottom1 > .face.top,
	#crate .box#outer .box#bottom .box#bottom2 > .face.top,
	#crate .box#outer .box#bottom .box#bottom3 > .face.top,
	#crate .box#outer .box#bottom .box#bottom4 > .face.top,
	#crate .box#outer .box#bottom .box#bottom5 > .face.top

	{
		-webkit-transform: 				rotateX(90deg) translateY(-17px);
		-moz-transform: 				rotateX(90deg) translateY(-17px);
		-o-transform: 					rotateX(90deg) translateY(-17px);
		transform: 						rotateX(90deg) translateY(-17px);
	}

	/* Z = height */
	#crate .box#outer .box#bottom .box#bottom1 > .face.bottom,
	#crate .box#outer .box#bottom .box#bottom2 > .face.bottom,
	#crate .box#outer .box#bottom .box#bottom3 > .face.bottom,
	#crate .box#outer .box#bottom .box#bottom4 > .face.bottom,
	#crate .box#outer .box#bottom .box#bottom5 > .face.bottom
	{
		-webkit-transform: 				rotateX(-90deg) translateZ(90px);
		-moz-transform: 				rotateX(-90deg) translateZ(90px);
		-o-transform: 					rotateX(-90deg) translateZ(90px);
		transform: 						rotateX(-90deg) translateZ(90px);
	}











/*########################################################################*\

	BOX INNER
	
	width:							516px;
	height:							320px;
	depth:							331px;

\*########################################################################*/

	/*	SIZE */

	#crate .box#inner > .face.front,
	#crate .box#inner > .face.back
	{
		width:							100%;
		height:							100%;
	}

	#crate .box#inner > .face.left,
	#crate .box#inner > .face.right
	{
		width:							331px;
		height:							100%;
	}

	#crate .box#inner > .face.top,
	#crate .box#inner > .face.bottom
	{
		width:							100%;
		height:							331px;
	}




	/*	3D TRANSFORMATIONS */

	#crate .box#inner > .face.front
	{}

	/* Z = depth | X = -width */
	#crate .box#inner > .face.back
	{
		-webkit-transform:				rotateY(-180deg) translateZ(331px) translateX(-516px);
		-moz-transform:					rotateY(-180deg) translateZ(331px) translateX(-516px);
		-o-transform:					rotateY(-180deg) translateZ(331px) translateX(-516px);
		transform:						rotateY(-180deg) translateZ(331px) translateX(-516px);
	}

	/* X = -depth */
	#crate .box#inner > .face.left
	{
		-webkit-transform: 				rotateY(-90deg) translateX(-331px);
		-moz-transform: 				rotateY(-90deg) translateX(-331px);
		-o-transform: 					rotateY(-90deg) translateX(-331px);
		transform: 						rotateY(-90deg) translateX(-331px);
	}

	/* Z = width */
	#crate .box#inner > .face.right
	{
		-webkit-transform: 				rotateY(90deg) translateZ(516px);
		-moz-transform: 				rotateY(90deg) translateZ(516px);
		-o-transform: 					rotateY(90deg) translateZ(516px);
		transform: 						rotateY(90deg) translateZ(516px);
	}

	/* Y = -depth */
	#crate .box#inner > .face.top
	{
		-webkit-transform: 				rotateX(90deg) translateY(-331px);
		-moz-transform: 				rotateX(90deg) translateY(-331px);
		-o-transform: 					rotateX(90deg) translateY(-331px);
		transform: 						rotateX(90deg) translateY(-331px);
	}

	/* Z = height */
	#crate .box#inner > .face.bottom
	{
		-webkit-transform: 				rotateX(-90deg) translateZ(320px);
		-moz-transform: 				rotateX(-90deg) translateZ(320px);
		-o-transform: 					rotateX(-90deg) translateZ(320px);
		transform: 						rotateX(-90deg) translateZ(320px);
	}


/*------------------------------------------------------------------------*\

	FRONTLEFT, FRONTRIGHT, BACKLEFT, BACKRIGHT
	
	width:							17px;
	height:							320px;
	depth:							17px;

\*------------------------------------------------------------------------*/


	/*	SIZE */

	#crate .box#inner .box#frontleft > .face.front,
	#crate .box#inner .box#frontleft > .face.back,
	#crate .box#inner .box#frontright > .face.front,
	#crate .box#inner .box#frontright > .face.back,
	#crate .box#inner .box#backleft > .face.front,
	#crate .box#inner .box#backleft > .face.back,
	#crate .box#inner .box#backright > .face.front,
	#crate .box#inner .box#backright > .face.back
	
	{
		width:							100%;
		height:							100%;
	}

	#crate .box#inner .box#frontleft > .face.left,
	#crate .box#inner .box#frontleft > .face.right,
	#crate .box#inner .box#frontright > .face.left,
	#crate .box#inner .box#frontright > .face.right,
	#crate .box#inner .box#backleft > .face.left,
	#crate .box#inner .box#backleft > .face.right,
	#crate .box#inner .box#backright > .face.left,
	#crate .box#inner .box#backright > .face.right
	{
		width:							17px;
		height:							100%;
	}

	#crate .box#inner .box#frontleft > .face.top,
	#crate .box#inner .box#frontleft > .face.bottom,
	#crate .box#inner .box#frontright > .face.top,
	#crate .box#inner .box#frontright > .face.bottom,
	#crate .box#inner .box#backleft > .face.top,
	#crate .box#inner .box#backleft > .face.bottom,
	#crate .box#inner .box#backright > .face.top,
	#crate .box#inner .box#backright > .face.bottom
	{
		width:							100%;
		height:							17px;
	}




	/*	3D TRANSFORMATIONS */

	#crate .box#inner .box#frontleft > .face.front,
	#crate .box#inner .box#frontright > .face.front,
	#crate .box#inner .box#backleft > .face.front,
	#crate .box#inner .box#backright > .face.front
	{}

	/* Z = depth | X = -width */
	#crate .box#inner .box#frontleft > .face.back,
	#crate .box#inner .box#frontright > .face.back,
	#crate .box#inner .box#backleft > .face.back,
	#crate .box#inner .box#backright > .face.back
	{
		-webkit-transform:				rotateY(-180deg) translateZ(17px) translateX(-17px);
		-moz-transform:					rotateY(-180deg) translateZ(17px) translateX(-17px);
		-o-transform:					rotateY(-180deg) translateZ(17px) translateX(-17px);
		transform:						rotateY(-180deg) translateZ(17px) translateX(-17px);
	}

	/* X = -depth */
	#crate .box#inner .box#frontleft > .face.left,
	#crate .box#inner .box#frontright > .face.left,
	#crate .box#inner .box#backleft > .face.left,
	#crate .box#inner .box#backright > .face.left
	{
		-webkit-transform: 				rotateY(-90deg) translateX(-17px);
		-moz-transform: 				rotateY(-90deg) translateX(-17px);
		-o-transform: 					rotateY(-90deg) translateX(-17px);
		transform: 						rotateY(-90deg) translateX(-17px);
	}

	/* Z = width */
	#crate .box#inner .box#frontleft > .face.right,
	#crate .box#inner .box#frontright > .face.right,
	#crate .box#inner .box#backleft > .face.right,
	#crate .box#inner .box#backright > .face.right
	{
		-webkit-transform: 				rotateY(90deg) translateZ(17px);
		-moz-transform: 				rotateY(90deg) translateZ(17px);
		-o-transform: 					rotateY(90deg) translateZ(17px);
		transform: 						rotateY(90deg) translateZ(17px);
	}

	/* Y = -depth */
	#crate .box#inner .box#frontleft > .face.top,
	#crate .box#inner .box#frontright > .face.top,
	#crate .box#inner .box#backleft > .face.top,
	#crate .box#inner .box#backright > .face.top
	{
		-webkit-transform: 				rotateX(90deg) translateY(-17px);
		-moz-transform: 				rotateX(90deg) translateY(-17px);
		-o-transform: 					rotateX(90deg) translateY(-17px);
		transform: 						rotateX(90deg) translateY(-17px);
	}

	/* Z = height */
	#crate .box#inner .box#frontleft > .face.bottom,
	#crate .box#inner .box#frontright > .face.bottom,
	#crate .box#inner .box#backleft > .face.bottom,
	#crate .box#inner .box#backright > .face.bottom
	{
		-webkit-transform: 				rotateX(-90deg) translateZ(320px);
		-moz-transform: 				rotateX(-90deg) translateZ(320px);
		-o-transform: 					rotateX(-90deg) translateZ(320px);
		transform: 						rotateX(-90deg) translateZ(320px);
	}


