/*########################################################################*\

	Developed by 		: Jerry van Heerikhuize
	Version				: 0.0.1
	Creation Date		: 20/06/13
	Creation Date		: 20/06/13
	Creation by			: Jerry van Heerikhuize
	Email				: jvanheerikhuize at gmail dot com
	Description			: CSS for a box

	---------------------------------------------------------------------

	LET OP! in webkit kan er geen spatie tussen de functie en de (), dan werkt hij niet.
	LET OP! transormaties werken in stappen, eerst roteren dan verschuiven
	LET OP! Percentages werken niew in de transform functions

\*########################################################################*/

/*########################################################################*\

	TEXTURES

\*########################################################################*/  

	
	.tint {
		display:none;
	
	}

	#crate.textured .box#outer .box > .face.front, #crate.textured .box#outer .box > .face.back {
		background-image: url(../../media/images/textures/type2/face-texture.png);
	}
		
	#crate.textured .box#outer .box > .face.left, #crate.textured .box#outer .box > .face.right {
		background-image: url(../../media/images/textures/type2/head-texture.png);
	}
	
	#crate.textured .box#outer .box > .face.top, #crate.textured .box#outer .box > .face.bottom {
		background-image: url(../../media/images/textures/type2/face-texture.png);
	}
	
	#crate.textured .box#outer .box#frontmiddle > .face.front .branding, #crate.textured .box#outer .box#backmiddle > .face.front .branding {
		display: block;
		width:100%;
		height:100%;
			
		opacity: 0.7;
			
		background-image: url(../../media/images/textures/branding/BRAND-logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	
	#crate.textured .innerShader {
			display: block;
			width:100%;
			height:100%;
			
			background-color:rgba(0,0,0,0.4);
			/*
			background-image:-moz-linear-gradient(90deg, rgba(0,0,0,0.5), rgba(255,255,255,0));
			background-image:-webkit-gradient(linear, center bottom, center top, from(rgba(1,0,0,0.5)), to(rgba(255,255,255,0)));
			*/
	}
	
	#crate.textured .tint {
			display: block;
			width:100%;
			height:100%;
			
			box-shadow: inset 0px 0px 15px rgba(0,0,0,0.8);
			
	}
	
	#crate.textured .lighter {
			display: block;
			width:100%;
			height:100%;
			
			/*
			background-image: url(../../media/images/textures/type2/face-lighter.png);
			*/
	}
	
	