/*########################################################################*\

	Developed by 		: Jerry van Heerikhuize
	Version				: 0.0.1
	Creation Date		: 22/06/13
	Creation Date		: 22/06/13
	Creation by			: Jerry van Heerikhuize
	Email				: jvanheerikhuize at gmail dot com
	Description			: CSS for the viewport element

	---------------------------------------------------------------------

	LET OP! in webkit kan er geen spatie tussen de functie en de (), dan werkt hij niet.
	LET OP! transormaties werken in stappen, eerst roteren dan verschuiven
	LET OP! Percentages werken niet in de transform functions

\*########################################################################*/

/*########################################################################*\

	VIEWPORT

\*########################################################################*/

	/* Default Element Settings */
	.viewport {

		position: 							relative;

		-webkit-transform-style: 			preserve-3d;
		-moz-transform-style: 				preserve-3d;
		-o-transform-style: 				preserve-3d;
		transform-style:					preserve-3d;

		-webkit-transform-origin: 			center center;
		-moz-transform-origin: 				center center;
		-o-transform-origin: 				center center;
		transform-origin: 					center center;
		
		-webkit-backface-visibility:		visible;
		-moz-backface-visibility: 			visible;
		-o-backface-visibility: 			visible;
		backface-visibility: 				visible;

	}

	/* Position all Descendants absolute */
	.viewport * div,
	.viewport * section,
	.viewport > section
	{
		position:							absolute;
	}




/*------------------------------------------------------------------------*\

	PERSPECTIVE

	LET OP! het perspectief wordt niet op de viewport zelf toegepast 
	maar alleen op zijn descendants
\*------------------------------------------------------------------------*/

	.viewport.isometric {
		-webkit-perspective: 				0px;
		-moz-perspective: 					0px;
		-o-perspective: 					0px;
		perspective: 						0px;
	}

	.viewport.perspective
	 {
		-webkit-perspective: 				1000px;
		-moz-perspective: 					1000px;
		-o-perspective: 					1000px;
		perspective: 						1000px;
	}


/*------------------------------------------------------------------------*\

	RENDERER

\*------------------------------------------------------------------------*/

	/* TRANSPARENT */
	.viewport.transparent * .face.front		{	background: rgba(255, 0, 0, 0.2);	}
	.viewport.transparent * .face.back		{	background: rgba(0, 255, 0, 0.2);	}
	.viewport.transparent * .face.left		{	background: rgba(0, 0, 255, 0.2);	}
	.viewport.transparent * .face.right		{	background: rgba(255, 255, 0, 0.2);	}
	.viewport.transparent * .face.top		{	background: rgba(255, 0, 255, 0.2);	}
	.viewport.transparent * .face.bottom	{	background: rgba(0, 0, 0, 0.2);		}
	
	.viewport.transparent * .face.front,
	.viewport.transparent * .face.back,
	.viewport.transparent * .face.left,
	.viewport.transparent * .face.right,
	.viewport.transparent * .face.top,
	.viewport.transparent * .face.bottom {
		-webkit-box-shadow: inset 0px 0px 2px #000;
		-moz-box-shadow: inset 0px 0px 3px #000;
		-o-box-shadow: inset 0px 0px 3px #000;
		-box-shadow: inset 0px 0px 3px #000;			
	}
	
	
	
	
	/* SOLID */	
	.viewport.solid * .face.front			{	background: rgba(255, 0, 0, 1);		}
	.viewport.solid * .face.back			{	background: rgba(0, 255, 0, 1);		}
	.viewport.solid * .face.left			{	background: rgba(0, 0, 255, 1);		}
	.viewport.solid * .face.right			{	background: rgba(255, 255, 0, 1);	}
	.viewport.solid * .face.top				{	background: rgba(255, 0, 255, 1);	}
	.viewport.solid * .face.bottom			{	background: rgba(0, 0, 0, 1);		}

	.viewport.solid * .face.front,
	.viewport.solid * .face.back,
	.viewport.solid * .face.left,
	.viewport.solid * .face.right,
	.viewport.solid * .face.top,
	.viewport.solid * .face.bottom {
			-webkit-box-shadow: inset 0px 0px 2px #000;
			-moz-box-shadow: inset 0px 0px 2px #000;
			-o-box-shadow: inset 0px 0px 2px #000;
			-box-shadow: inset 0px 0px 2px #000;			
	}



	/* WIREFRAME */
	.viewport.wireframe * .face {
		border: 							1px solid #CC0000;
	}




	/* TEXTURED */
	.viewport.textured * .face
	{
		-webkit-backface-visibility: 		hidden;
		-moz-backface-visibility: 			hidden;
		-o-backface-visibility: 			hidden;
		backface-visibility: 				hidden;
	}


/*------------------------------------------------------------------------*\

	INSTANCES

\*------------------------------------------------------------------------*/

	.viewport#crate {

		/* total outer box size */
		width:	 							550px;
		height: 							354px;
		/*length:	 						365px;*/

		margin: 							150px auto;

		border: 							1px solid #CCC;
				
		/*
		-webkit-transform:					scale3d(0.5, 0.5, 0.5);
		-moz-transform:						scale3d(0.5, 0.5, 0.5);
		-o-transform:						scale3d(0.5, 0.5, 0.5);
		transform:							scale3d(0.5, 0.5, 0.5);			
		*/
	}